<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="br.com.zbraestudio.maiscafe" version="1.0.0">
  <name>Mais Café</name>
  <description>App oficial do site Mais Café (www.maiscafe.blog.br)</description>
  <author href="http://www.zbraestudio.com.br" email="contato@zbraestudio.com.br">Z.BRA Estúdio</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>

  <!-- Barras do Android -->
  <preference name="fullscreen" value="false"/>
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#225981" />
  <preference name="StatusBarStyle" value="lightcontent" />

  <!-- Plugin de Notificação -->
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />

  <!-- Plugin que carrega informações do Device -->
  <gap:plugin name="org.apache.cordova.device"/>

  <!-- Ícones -->
  <icon src="res/icon.png" />

  <access origin="*"/>

  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>

  <platform name="android">
    <allow-intent href="market:*"/>
    <preference name="android-targetSdkVersion" value="19"/>
    <icon src="res/android/ldpi.png" density="ldpi" />
    <icon src="res/android/mdpi.png" density="mdpi" />
    <icon src="res/android/hdpi.png" density="hdpi" />
    <icon src="res/android/xhdpi.png" density="xhdpi" />
  </platform>

</widget>